<h1>edit</h1>

<%= form_for(@article) do |f| %>
  <div class="field">
    <%= f.label :article %>
    <%= f.text_field :article, size:30 %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description%>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
