<h1>Show</h1>

<p><%= @article.title %></p>
<p><%= @article.description %></p>
<p><%= @article.created_at %></p>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Destroy', article_path(@article), :method => :delete, data: { confirm: 'Are you sure?' } %>
